@import "../index"
@import "../components/Hero"
@import "../components/Tiendas"
@import "../components/TiendasMobile"
@import "../components/Deals"
@import "../components/InfoCards"
@import "../components/Brands"
@import "../components/TopHero"

.home
    height: fit-content
    background-color: #ffffff
    transition: all 0.4s ease


    
