@import "../index"

.footer
    height: fit-content
    font-family: "Poppins", sans-serif
    max-height: 20em

    .footer-main
        display: flex
        justify-content: center
        align-items: flex-start
        height: fit-content
        background-color: $light0
        .container
            padding: 4em
            display: flex
            align-items: flex-start
            justify-content: space-between
            .logo
                width: 14em
                filter: invert(1)
            .text
                text-transform: uppercase
            .header
                font-weight: 600
            .social-icons
                display: flex
                .icon
                    margin-right: 0.5em
                    transition: all 0.4s ease
                    svg
                        transition: all 0.4s ease
                        font-size: 2em
                    &:hover
                        cursor: pointer
                        transform: scale(1.1)
                        svg
                            color: $color1
    .footer-bottom
        height: fit-content
        display: flex
        align-items: center
        justify-content: center
        .container
            padding: 1em 4em
            display: flex
            align-items: center
            justify-content: space-between

            //Copyright
            .copyright
                .line
                    text-transform: uppercase
                    font-size: 0.8em
                    span
                        font-weight: 700
                        cursor: pointer

            //Payment Icons
            .payment-icons
                display: flex
                align-items: center
                justify-content: center
                .icon
                    margin-left: 0.66em
                    width: 3em
                    &:last-child
                        width: 6em
                    &:first-child
                        margin-left: 0

    @media screen and ( max-width: 1024px )
        .footer-main
            .container
                padding: 2em
    @media screen and ( max-width: 768px )
        .footer-main
            .container
                padding: 1em
                .logo
                    display: none
        .footer-bottom
            .container
                margin-top: 1em
                flex-direction: column-reverse
                align-items: center
                .copyright
                    margin-top: 1em
                    text-align: center
